*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #b4b441;
    background-image: url("../images/noise.png");
    background-size: cover;
    font-family: 'Fanwood Text', serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
    padding: 3rem;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: 'Shrikhand', cursive;
}

header {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 100rem;
}

#submit-btn {
    display: none;
}

#filter-select {
    width: 10rem;
}


#title,
#filter-select {
    height: 100%;
    border-radius: .5rem;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
}

.form-bottom-row {
   height: 4rem;
}

form input,
form select,
form label {
    height: 100%;
    outline: none;
    padding: .5rem;
}

#title-rating {
    display: flex;
    justify-content: flex-end;
}

#title-rating label {
    color: grey;
}

#movie-select {
    padding: .5rem;
    height: 100%;
    border-radius: .5rem;
    border: none;
}

#submit-btn {
    border-radius: .5rem;
    background-color: black;
    color: #b0b054;
    border: none;
    padding: .5rem;
    height: 100%;
}

#title-rating {
    height: 100%;
    display: inline-block;
    background-color: white;
    border: none;
    border-radius: .5rem;
}

#title-rating label {
    border-left: 0.1rem solid lightgrey;
}

.d-none {
    display: none;
}

#rating {
    height: 3rem;
    border-radius: .5rem;
    border: none;
}

#movie-container {
    display: flex;
    flex-wrap: wrap;
}

.movie-card-spacer {
    width: 33%;
    height: 50rem;
    padding: 2rem;
    display: flex;
    backface-visibility: hidden;
}

.movie-card {
    background: linear-gradient(to bottom, #efefc8, #b0b054);
    border-radius: 5rem;
    border: 2rem solid #8c3838;
    padding: 4rem;
    width: 100%;
    max-width: 400px;
    max-height: 600px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.movie-card-anime{
    animation: moveInBottom .3s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(25px) rotate(50deg);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.delete-btn{
    border-radius: 50%;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
    .movie-card-spacer {
        width: 100%;
    }
}

/* Medium screen styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .movie-card-spacer {
        width: 50%;
    }
}



